<div class="container">
	<div class="col-lg-12">
	    <div class="page-header">
	      <h4><span class="glyphicon glyphicon-credit-card"></span> Meus Quadros <button class="btn btn-danger btn-xs pull-right" data-ng-click="vm.open()"><span class="glyphicon glyphicon-plus"></span> Quadro</button></h4>
	    </div>
	</div>
	<div class="col-lg-4" data-ng-repeat="board in vm.boards">
		<a href="#/boards/{{board.id}}" class="alert-link" style="color: #fff">
			<div class="alert alert-dismissible board-alert">
				<strong>{{board.title}}</strong>
			</div>
		</a>
	</div>
</div>

<script type="text/ng-template" id="myModalContent.html">
<div class="modal-header">
<h3 class="modal-title">Novo Quadro</h3>
</div>
<div class="modal-body">
<form name="form" class="ng-scope ng-pristine ng-valid">
<input type="hidden"/>
<div class="form-group">
<label>Título</label>
<input name="bTitle" data-ng-model="vm.board.title" data-ng-disabled="vm.board.id" type="name" required data-ng-minlength="4" class="form-control">
<div data-ng-messages="form.bTitle.$error" data-ng-show="form.bTitle.$error.required && form.bTitle.$touched">
  <p style="color: red;" data-ng-message="required">Este campo é obrigatório!</p>
</div>
</div>
</form>
</div>
<div class="modal-footer">
<div data-ng-if="vm.board.id == null">
  <button class="btn btn-info" type="button" data-ng-click="vm.save()" data-ng-disabled="form.$invalid">Salvar</button>
  <button class="btn btn-danger" type="button" data-ng-click="vm.cancel()">Cancel</button>
</div>
<div data-ng-if="board.id != null">
  <button class="btn btn-info" type="button" data-ng-click="vm.ok()">Ok</button>
</div>
</div>
</script>